{% extends 'base.html.twig' %}

{% block body %}
<h1>Blog</h1>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum asperiores, libero est at aperiam nam error quisquam. Adipisci ipsam odio eos dicta commodi molestias tempora, provident quis facere vero expedita perspiciatis fugit voluptatum cupiditate, non vitae minima, culpa natus quibusdam?</p>
<p>Blanditiis fuga facere officiis consectetur minima sunt repudiandae nisi a dolorum, consequatur voluptas eveniet debitis laborum totam quod, dolor quis porro, assumenda provident. Rem nisi deleniti itaque at eaque quibusdam ducimus! Voluptates ab harum ducimus, porro numquam repudiandae sequi vero.</p>

{% endblock %}